<div class="wrapper1" id="topmost">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="list-group list-group-flush">
            <ul class="list-unstyled components">
                <h4 style="margin-left: 10%;"> Our Products <br>And Services</h4>
                <br>
                <hr>
                <li>

                    <div class="dropdown">
                        <button class="dropbtn">Retail Management System</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Retail Management Software','Easy Shop')">Online Shopping System</a>
                            <a class="butt" (click)="navigate('Retail Management Software','Priyam')">Retail ERP Software For Mall</a>
                        </div>
                    </div>
                </li>
                    

                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Software Products</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Software Products','Easy Shop')">Inward Outward Management Software</a>
                            <a class="butt" (click)="navigate('Software Products','Shree')">Shree Lipi Software</a>
                            <a class="butt" (click)="navigate('Software Products','Self')">SMS Sending Software</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Software Services</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Software Services','Easy Shop')">Easy Shop Software Services</a>
                            <a class="butt" (click)="navigate('Software Services','Priyam')">Priyam Software Services</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Mobile App Development</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Mobile Apps Development','Easy Shop')">Mobile App Development</a>
                            <a class="butt" (click)="navigate('Mobile Apps Development','Easy Shop')">E-Commerce Application
                                Development</a>
                            <a class="butt" (click)="navigate('Mobile Apps Development','Easy Shop')">E-Commerce Application
                                Development</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Thermal Rolls</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Thermal Roll','Balaji')">Balaji Machine Roll</a>
                            <a class="butt" (click)="navigate('Thermal Roll','SG Technologies')">Printed Thermal Receipt Billing
                                Rolls</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Barcode Labels</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Barcode Label','SG Technologies')">Barcode Labels</a>
                            <a class="butt" (click)="navigate('Barcode Label','SG Technologies')">Barcode Stickers</a>
                            <a class="butt" (click)="navigate('Barcode Label','SG Technologies')">Pre-printed Barcode Labels</a>
                            <a class="butt" (click)="navigate('Barcode Label','SG Technologies')">Plain Barcode Labels</a>
                            <a class="butt" (click)="navigate('Barcode Label','SG Technologies')">Thermal Labels</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Barcode Ribbons</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Barcode Ribbons','SG Technologies')">Barcode Ribbons</a>
                            <a class="butt" (click)="navigate('Barcode Ribbons','SG Technologies')">Barcode Ribbons Wax</a>
                            <a class="butt" (click)="navigate('Barcode Ribbons','SG Technologies')">Barcode Ribbons Wax Resins</a>
                            <a class="butt" (click)="navigate('Barcode Ribbons','SG Technologies')">Barcode Ribbons Resin</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Barcode Printers</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Barcode Printer','TSC')">TSC Barcode Printers</a>
                            <a class="butt" (click)="navigate('Barcode Printer','Citizen')">Citizen Barcode Printers</a>
                            <a class="butt" (click)="navigate('Barcode Printer','Zebra')">Zebra Barcode Printers</a>
                            <a class="butt" (click)="navigate('Barcode Printer','Argox')">Argox Barcode Printers</a>
                            <a class="butt" (click)="navigate('Barcode Printer','SATO')">SATO Barcode Printers</a>
                            <a class="butt" (click)="navigate('Barcode Printer','HoneyWell')">Honeywell Barcode Printers</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Thermal Printers</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Thermal Printer','Epson')">Epson Thermal Printers</a>
                            <a class="butt" (click)="navigate('Thermal Printer','TVS')">TVS Thermal Printers</a>
                            <a class="butt" (click)="navigate('Thermal Printer','Local Brand')">Local Brand Thermal Printers</a>
                            <a class="butt" (click)="navigate('Thermal Printer','Posiflex')">Posiflex Thermal Printers</a>
                            <a class="butt" (click)="navigate('Thermal Printer','Citizen')">Citizen Thermal Printers</a>
                            <a class="butt" (click)="navigate('Thermal Printer','TCS')">TCS Thermal Printers</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Barcode Scanners</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Barcode Scanner','Honeywell')">Honeywell Barcode Scanners</a>
                            <a class="butt" (click)="navigate('Barcode Scanner','Motorola')">Motorola Barcode Scanners</a>
                            <a class="butt" (click)="navigate('Barcode Scanner','Zebra')">Zebra Barcode Scanners</a>
                            <a class="butt" (click)="navigate('Barcode Scanner','Datalogic')">Datalogic Barcode Scanners</a>
                            <a class="butt" (click)="navigate('Barcode Scanner','TVS')">TVS Barcode Scanners</a>
                            <a class="butt" (click)="navigate('Barcode Scanner','Argox')">Argox Barcode Scanners</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Cash Drawer</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Cash Drawer','TVS')">Cash Drawer</a>
                            <a class="butt" (click)="navigate('Cash Drawer','Posiflex')">Posiflex Cash Drawer</a>
                            <a class="butt" (click)="navigate('Cash Drawer','TVS')">TVS Cash Drawer</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Pole Display</button>
                        <div class="dropdown-content">
                            <a class="butt" (click)="navigate('Pole Display','Local Brand')">Pole Display</a>
                            <a class="butt" (click)="navigate('Pole Display','Posiflex')">Posiflex Pole Display</a>
                            <a class="butt" (click)="navigate('Pole Display','TVS')">TVS Pole Display</a>
                        </div>
                    </div>
                </li>
            </ul>
    
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-light" id="menu-toggle"> <img src="../../assets/images/lines.png" alt="X" /> </button>
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item"><h1> {{ category }} </h1></li>
            </ul>
        </nav>

          <div>
            <div class="row">
                <div class="col-md-3 col-sm-6" *ngFor="let productItem of product">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" [src]="productItem.image">
                        <div class="card-body">
                            <h4 class="card-text"><b>{{ productItem.productname }}</b></h4>
                            <!-- <p class="card-text">{{ productItem.description | slice:0:50 }}</p> -->
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-success" style="font-size: smaller;"
                                            [routerLink]="['/details', productItem._id]" >Details</button>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-success" style="font-size: smaller;"><a href="https://wa.me/+91 9373344421?text=Hi" target="_blank">Get Price</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</div>

<br> <br> <br> <br>
<div style="text-align:center">
    <h2>Our Wide Range of Products</h2>
</div>
<hr width="90%">
<br>

<div class="Marquee" >
    <div *ngFor ="let j of n">
    <div class="Marquee-content"  >
        <div *ngFor="let productItem of all ; let i = index"  >
            <div class="Marquee-tag" >
                <div class="card" >
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" [src]="productItem.image">
                        <div class="card-body">
                            <h4 class="card-text" style="color: black;"><b>{{ productItem.productname }}</b></h4>
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-success butt" style="font-size: smaller;"
                                            [routerLink]="['/details', productItem._id]">Details</button>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-success butt" style="font-size: smaller;"><a href="https://wa.me/+91 9373344421?text=Hi" target="_blank">Get Price</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>