<div class="row">
    <div class="col-xs-6" *ngFor="let prod of product">
       <div class="well well-sm"  >
        <div class="card" style="width: 18rem;"  >
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{prod.productname}}</h5>
              <p class="card-text">{{prod.description}}</p>
              <a [routerLink]="['/details', prod._id]" class="btn btn-primary">Get Details</a>
            </div>
        </div>
      </div>
      
    </div>
</div>

