<div id="login-box">
    <form #signUpForm ="ngForm" (ngSubmit)="Register(signUpForm)">
        <div class="left">
        <h1>Sign Up using Mobile</h1>
        
        <input type="text" name="username" placeholder="Name" #username="ngModel" required ngModel/>
        <input type="text" name="email" placeholder="email" #email="ngModel" required ngModel/>
        <input type="text" name="phone" placeholder="Phone Number" #phone="ngModel" ngModel/>
        <input type="password" minlength="6" name="password" placeholder="Password" ngModel/>
        <input type="password" name="repassword" placeholder="enter password again" ngModel/>
        
        <input type="submit" [disabled]="!signUpForm.form.valid" name="signIn_submit" value="Sign me Up" />
        <br><button  style="width: 300px; background-color: white;border:white;"  >Already have an account?</button>
        </div>
    </form>
    <div class="right">
      <span class="loginwith">Sign Up with<br />social network</span>
      
      <button class="social-signin google">Sign Up with Google+</button>
    </div>
    <div class="or">OR</div>
    
  </div>