<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                        <p>Don’t miss any updates of our new templates and extensions.!</p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                        <ul class="list-unstyled f_list">
                            <li><a [routerLink]="['app']">Android App</a></li>
                            <li><a href="https://drive.google.com/file/d/1eZ_y0GO30jCEwO--_HKBgQIM3v6TF5y6/view">Terms and Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="home/#products" target="_parent">Our Products</a></li>
                            <li><a [routerLink]="['contact' ]">Contact Us</a></li>
                            <li><a [routerLink]="['about']">About Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Our Social Media</h3>
                        <div class="f_social_icon">
                            <a href="https://www.facebook.com/Priyam-It-Services-Pvt-Ltd-201831603734666/" class="fa fa-facebook"></a>
                            <a href="https://www.instagram.com/priyamitservices/" class="fa fa-instagram"></a>
                            <a href="https://www.linkedin.com/company/priyam-it-services-pvt-ltd/?viewAsMember=true" class="fa fa-linkedin"></a>
                            <a href="https://www.youtube.com/channel/UCEySf0my3g8-qs_Gd7kn03Q" class="fa fa-youtube"></a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
              <div class="footer_bg_two"></div>
        </div>
    </div>
    
</footer>