
    <section class="bg-white" data-wow-duration="1200ms" data-wow-delay="100ms">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center;">
                        <h2 style="font-weight: bolder;">ABOUT US</h2>
                        <hr width="80%">
                        <br>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                        <p><img src="../../assets/images/unnamed1.jpg" alt="Photo" class="img-fluid"></p>
                        </div>
                        <div class="col-md-10 box">
                            <p>Priyam IT  is an Indian  information technology  company situated in Pune, India . Founded in 2006, the company employs approximately 20-25 employees with annual revenue of 2-3 crores. <br>
                            The company deals in -user software for retail segment such as Grocery, Garment, Sweet Mart, Departmental Stores, Super Markets and Retailers etc for easy management of billing, inventory, bar coding and accounting  e-commerce, mobile applications, cloud computing, digital transformation, data analytics,  with more than 2000 active clients all over India , as of 31 May 2020.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center;">
                        <h2 style="font-weight: bolder;">SERVICES</h2>
                        <hr width="80%">
                        <br>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                        <p><img src="../../assets/images/serve.jpg" alt="Photo" class="img-fluid"></p>
                        </div>
                        <div class="col-md-10 box">
                            <p>
                               <b> Software Services: </b>
                                <br><br>
                                •	Customized Mobile Application development
                                <br>
                                •	Product Development & Maintenance 
                                <br>
                                •	Internet and Web Technology based projects
                                <br>
                                •	Website Design and Development
                                <br>
                                •	Retail Enterprise solution
                                <br>
                                •	Localization of software application, website in Indian Languages
                                <br>
                                •	Software testing
                                <br>
                                •	Scanning & Indexing


                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <br>

    <div class="bg">
        <div class="container">
            <div>
                <br><br>
                <div class="d-flex justify-content-center">
                    <video src="../../assets/video/profile.mp4" controls style="max-width: 60%;height: auto;"></video>
                </div>
            </div>
        </div>
        <br>
        <hr width="80%" style="color:#353a40">
        <br>
        <!-- MISION, VISION AND VALUES -->
        <section>
            <div class="container">

                <!-- 1,2 -->
                <div class="row">
                    <!-- Mision -->
                    <div class="col-md-6 box">
                        <p><br><img src="../../assets/images/infrastructure.jpg" alt="Mission" class="img-fluid"></p>
                        <h3 class="color5 wow fadeInUp">History</h3>
                        <div class="box">
                            In March 2006, Priyam IT was founded  by Lalit Bhattad. Modular Infotech being the parent of the company.
                            Priyam IT announced a new brand identity and logo, with the slogan "YOUR BUSINESS OUR PRIORITY" on 28 MARCH 2006
                        </div>
                    </div>
                    <!-- Vision -->
                    <div class="col-md-6 box">
                        <p><br><img src="../../assets/images/vision.jpg" alt="Vision" class="img-fluid"></p>
                        <h3 class="color5 wow fadeInUp">Vision</h3>
                        <p>
                            Priyam IT has a vision to provide software products, software development and services to the customers with quality and customer satisfaction as the primary goal. To perform and exceed the customer’s expectations through prompt delivery and competitive pricing. To enable customer success through a proactive, result oriented & quality driven approach.”

                        </p>
                    </div>
                    
                </div>

                <hr width="80%" style="color:blue">
                
                <!-- 3,4 -->
                <div class="row">
                    <!-- Mision -->
                    <div class="col-md-6 box">
                        <p><br><img src="../../assets/images/laptop.jpg" alt="Mission" class="img-fluid"></p>
                        <h3 class="color5 wow fadeInUp">Technical Approach</h3>
                        <p>
                            <br>
                            The projects undertaken by Priyam IT can be classified as:
                            <br>
                            •	Complete Software Development Life Cycle including the Business Analysis and design
                            <br>
                            •	A development which includes Coding and Testing phase 
                            <br>
                            •	Maintenance of software application, including enhancements
                            <br><br>
                            <b> Our Approach for Website Development </b>
                            <br>
                            •	Requirement Gathering
                            <br>
                            •	Project Plan
                            <br>
                            •	Design of a mock layout with the required customer theme, look and feel
                            <br>
                            •	Designing and site layout development with the web components after approval and acceptance of      mock design
                            <br>
                            •	Development of static and dynamic web pages with the contents Hosting and launch of the website
                            <br><br>
                            <b>Our Approach to Application Development</b>
                            <br>
                            •	Requirement Gathering
                            <br>
                            •	Design of a prototype for the customer feedback
                            <br>
                            •	Design of the application
                            <br>
                            •	Coding and testing of the application
                            <br>
                            •	System and Performance Testing
                            <br>
                            •	Installation at Customer site
                            <br>
                            •	User Acceptance Test (UAT)
                            <br>
                            •	Training
                            <br>
                            •	Launch of the application
                            
                        </p>
                    </div>
                    <!-- Vision -->
                    <div class="col-md-6 box">
                        <p><br><img src="../../assets/images/desktops.jpg" alt="Vision" class="img-fluid"></p>
                        <h3 class="color5 wow fadeInUp">Technology and skill sets</h3>
                        <p>
                            <br>
                            Priyam IT provide software development covering technologies such as Microsoft, Sun and open source. 
                            <br><br>
                            <b> Resources : </b>
                            <br>
                                •	We believe that our people are our most important resource driving our business goals. 
                                <br>
                                •	Our software engineers & consultants have diverse exposure in areas such as product development, project development, software testing, translation, and data management. 
                                <br>
                                •	Our total year of experience as software professionals ranges between 0 - 10 years over the various phases of the software development life cycle. 
                                <br>
                                •	Our team has knowledge in the information technology with a deep desire to provide the quality solutions and services to our customers.  
                                
                                <br><br>
                                <b> Infrastructure : </b>
                                <br>
                                Priyam IT, situated at Pune, State of Maharashtra, India, is a growing IT company. 
                                <br>   
                                •	We are well equipped with latest software,mobile applications and hardware infrastructure.

                        </p>
                    </div>
                    
                </div>

                <hr width="80%" style="color:blue">
                
                <!-- 5,6 -->
                <div class="row">
                    <!-- Mision -->
                    <div class="col-md-6 box">
                        <p><br><img src="../../assets/images/chairs.jpg" alt="Mission" class="img-fluid"></p>
                        <h3 class="color5 wow fadeInUp">Our Quality Assurance</h3>
                        <p>
                            For ensuring optimality in the on-going business operations, we ensure the software and web based solutions offered by us are provided by qualified and experienced programmers. Their in-depth process knowledge as well as expertise in perfectly understanding the demands of our customers guarantee high level of optimization in the delivered solutions that are created as per clients’ specific branding needs.
                            Other than this, we have also got associated with leading and reputed branded companies for sourcing and supplying of Printers, Scanners and associated accessories. This assures in them high performance value as well as helps us in gaining complete customer satisfaction.

                        </p>
                    </div>
                    <!-- Vision -->
                    <div class="col-md-6 box">
                        <p><br><img src="../../assets/images/business.jpg" alt="Vision" class="img-fluid"></p>
                        <h3 class="color5 wow fadeInUp">Our Business Partners</h3>
                        <p>
                            
                            Priyam IT have business association and dealership network all over India. We believe that our people are our most important resource driving our business goals. Our software engineers & consultants have diverse exposure in areas such as product development, project development, software testing, translation, and data management. Our total year of experience as software professionals ranges between 0 - 10 years over the various phases of software development life cycle. Our team has knowledge in the information technology with deep desire to provide the quality solutions and services to our customers.
                            <br>
                            Our major business associates are:
                            <br>
                            •	Modular InfoTech, Pune
                            <br>
                            •	HCL Infosystems, Noida
                            <br>
                            •	Milkotronics Pvt Ltd., Pune
                            <br>
                            •	Mechatronics Systems Pvt. Ltd., Pune
                            <br>

                        </p>
                    </div>
                    
                </div>

                <hr width="80%" style="color:blue">
                
                <!-- 7,8 -->
                <div class="row">
                    <!-- Mision -->
                    <div class="col-md-6 box">
                        <p><br><img src="../../assets/images/client.jpg" alt="Mission" class="img-fluid"></p>
                        <h3 class="color5 wow fadeInUp">Client Satisfaction</h3>
                        <p>
                            A client centric organization, we fully understand the specific equipment as well as service related needs of our customers and put in great efforts so as to match up with their expectation levels. Here, our expertise in also offering customized service solutions including web designing and software support also ensure these are exactly as demanded by the customers.
                            <br><br>
                            <b>Moreover, following factors have helped us gain prominence among our clientèle:</b>
                            <br>
                            •	100% customer satisfaction
                            <br>
                            •	Unlimited design concepts
                            <br>
                            •	Presence of large pool of designers
                            <br>
                            •	Fastest turnaround time
                            <br>
                            •	Lowest price online
                            <br>
                            •	Excellent online customer support


                        </p>
                    </div>
                    <!-- Vision -->
                    <div class="col-md-6 box">
                        <p><br><img src="../../assets/images/why.jpg" alt="Vision" class="img-fluid" style="min-height: 10px;"></p>
                        <h3 class="color5 wow fadeInUp">Why Us?</h3>
                        <p>
                            We have gained a strong hold in the competitive market due to our capability of offering a range of highly reliable products and services.
                            <br><br>
                            The <b> key factors </b>for which we have received appreciation from our clients all across the globe include:
                            <br>
                            <br>
                            •	Successfully understanding, meeting and satisfying clients' needs from different industry sectors
                            <br>
                            •	Versatility and efficiency in handling the operations
                            <br>
                            •	Client satisfaction ranks first on our priority list
                            <br>
                            •	Expertise in defining business policies that are beneficial for clients
                            <br>
                            •	Expertise in offering most comprehensive & apt solutions for meeting varied industrial challenges
                            <br>
                            •	We are open to molding available resources as per the requirements of clients so that we are able to deliver industry specific service solutions


                        </p>
                    </div>
                    
                </div>
                <br><br>
                <hr><br>
                <br><br>
    <div class="row">
        <div class="col-md-12">
            <div  style="text-align: center;">
                <h2 style="font-weight: bolder;">COMPANY PROFILE</h2>
                <hr width="80%">
                <br>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div class="row">
                <div class="col-md-2">
                    <img src="../../assets/images/logo.jpg" alt="Photo" class="img-fluid">
                </div>
                <div class="col-md-10 box">
                    <br>
                        <table border = "1" cellpadding = "20" cellspacing = "5">
                            <tr>
                                <th>Nature of Business</th>
                                <th>Service Provider</th>
                            </tr>
                            <tr>

                                <td>Additional Business</td>
                                <td>•	Manufacturer
                                    <br>
                                    •	Wholesaler
                                        <br>
                                        •	Trader
                                        <br>
                                        •	Retailer
                                        <br>
                                        •	Distributor</td>
                            </tr>
                            <tr>
                                <td>Registered Address</td>
                                <td>5,Sonamata Apartment,Swaroop Colony, Sinhagad Road ,Pune 411051</td>
                            </tr>
                            <tr>
                                <td>GST NO</td>
                                <td>27AAICP6949C1Z5</td>
                            </tr>
                            <tr>
                                <td>Banker</td>	
                                <td>STATE BANK OF INDIA</td>
                            </tr>
                            <tr>
                                <td>Directors</td>	
                                <td><br>
                                    •   Lalit Bhattad
                                    <br>
                                    •   Priti Bhattad

                                </td>
                            </tr>
                            <tr>
                                <td>Primary Competitive Advantages</td>
                                <td>
                                    <br>
                                    •   Large Product Line 
                                    <br>
                                    •   Good financial position
                                </td>
                            </tr>
                            <tr>
                                <td>Shipment mode</td>
                                <td>
                                    <br>
                                    •   By Road 
                                    <br>
                                    •   By Sea
                                    <br>
                                    •   By Air
                                </td>
                            </tr>
                        </table>
                    
                </div>
            </div>
        </div>
        
    </div>

            </div>
            
            <br>
                <hr>
                
        </section>
    </div>

    





