.box:hover{
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2{
  font-family: "Montserrat", sans-serif;
}
body{
  font-family: "Work Sans", sans-serif;
}
.bg{
  background-color: #f3f4f6;
}