<br><br>
    <div style="text-align: center;">
        <h2 style="font-weight: bolder;">CONTACT US</h2>
    </div> 
    <hr width="80%">         
    
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.1263954714427!2d73.82399841489213!3d18.47793308743392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2956dcc139109%3A0x8136587d510bb14f!2sPriyam%20IT%20Services%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1601977770814!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; max-height: 30%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <br><br>
                    <p><img src="../../assets/images/iconfinder-icon.svg" alt="">
                        5, Sonamata Apartment, Swaroop Colony, Anand Nagar, Sinhagad Road, Pune - 411051
                    </p>
                    <hr>
                    <p><img src="../../assets/images/telephone.svg" height="24px" width="24px" alt="">
                        9373344421 /28 /27 / 11
                    </p>
                    <hr>
                    <p>
                        <img src="../../assets/images/icons/landline123.png" height="24px" width="24px" alt="">
                        020 24354767
                    </p>
                    <hr>
                    <p><img src="../../assets/images/gmail.svg" height="24px" width="24px" alt="">
                        info@priyamit.co.in
                    </p>
                    <hr>
                    
                </div>

                <div class="col-sm-12 col-md-7">
                    <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
                        <div class="form-group">
                        <input
                            type="email"
                            class="form-control"
                            name="Email"
                            aria-describedby="emailHelp"
                            placeholder="Email *"
                            formControlName="Email"
                            style="background-color: #f9f9f9;"
                        />
                        
                        </div>
                        <div class="form-group">
                        <input
                            type="text"
                            class="form-control"
                            name="Fullname"
                            placeholder="Full Name *"
                            formControlName="Fullname"
                            style="background-color: #f9f9f9;"
                        />
                        </div>

                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                name="Phone"
                                placeholder="Phone Number *"
                                formControlName="Phone"
                                style="background-color: #f9f9f9;"
                            />
                            </div>
            
                        <div class="form-group">
                        
                        <textarea
                            rows="8" cols="50"
                            class="form-control"
                            placeholder="Comment *"
                            formControlName="Comment"
                            name="Comment"
                            style="background-color: #f9f9f9;"
                        >
                        </textarea>
                        </div>
                        <br>
                        <button
                        type="submit"
                        class="btn btn-success"
                        [disabled]="!FormData.valid"
                        >
                        Contact Us
                        </button>
                    </form>
                    <br><br><br>
                </div>  
          </div> 
        </div> 
      
      <div style="text-align: center;">
        <h2 style="font-weight: bolder;">REACH US AT</h2>
      </div>
      <hr width="80%">
    <div class="container card_row">
        <br>
        <div class="row card_row">
            <div class="col-sm" >
                <br>
                <div class="card my_card">
                    <br>
                    <div class="d-flex justify-content-center">
                        <a href="mailto:info@priyamit.co.in" target="_blank"><img class="add1" src="../../assets/images/green3.png" height="48px" width="48px" alt="" srcset=""></a>
                    </div>
                        <br>
                    <div class="d-flex justify-content-center">
                        <h4>Mail</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="mailto:info@priyamit.co.in" target="_blank"> info@priyamit.co.in</a>
                    </div>
                    <br>
                </div>
            </div>

            <div class="col-sm" >
                <br>
                <div class="card my_card">
                    <br>
                    <div class="d-flex justify-content-center">
                        <a href="tel:9373344421" target="_blank"><img class="add1" src="../../assets/images/icons/call.png" alt="" srcset=""></a>
                    </div>
                        <br>
                    <div class="d-flex justify-content-center">
                        <h4>Call</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="tel:9373344421" target="_blank">9373344421</a>
                    </div>
                    <br>
                </div>
                <br>
            </div>
            <div class="col-sm">
                <br>
                <div class="card my_card">
                    <br>
                    <div class="d-flex justify-content-center">
                        <a href="https://wa.me/+91 9373344421?text=Hi" target="_blank"><img class="add1" src="../../assets/images/icons/whatsapp.png" alt=""></a>
                    </div>
                        <br>
                    <div class="d-flex justify-content-center">
                        <h4>Whatsapp</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="https://wa.me/+91 9373344421?text=Hi" target="_blank">Whatsapp</a>
                    </div>
                    <br>
                </div>
            </div>

        </div>
        <br>
    </div>
    <br><br><br> <br>
    <div style="text-align: center;">
        <h2 style="font-weight: bolder;">OUR SOCIAL MEDIA PLATFORMS</h2>
    </div> 
    <hr width="80%"><br><br><br>
    <div class="container">
        <div class="row">
            
            <div class="mx-auto">
                <div class="row ">
                    <div class="col-sm addi text-center">
                        <a href=" https://www.instagram.com/priyamitservices/"><img src="../../assets/images/instagram.png" alt="" srcset=""></a>
                    </div>
                    <div class="col-sm addf text-center">
                      <a href="https://www.facebook.com/Priyam-It-Services-Pvt-Ltd-201831603734666/"><img src="../../assets/images/facebook.png" alt="" srcset=""></a>
                    </div>
                    <div class="col-sm addl text-center">
                        <a href="https://www.linkedin.com/company/priyam-it-services-pvt-ltd/?viewAsMember=true"><img src="assets/images/linkedin.png" alt="" srcset=""></a>
                    </div>
                    <div class="col-sm addy text-center">
                        <a href="https://www.youtube.com/channel/UCEySf0my3g8-qs_Gd7kn03Q"><img src="../../assets/images/youtube.png" alt="" srcset=""></a>
                    </div>
                  </div>
            </div>
            
        </div>
    </div>

