<div class='container'>
    <div class="right" >
        <img src='../../assets/images/OGMT9J0.jpg'  width="100%" height="100%">

    </div>  
    <div  class="left" >
    <h2 class="brandName" style="margin-bottom: 20px;">Priyam IT Services Private Limited</h2>
    <div style="width:160px;float:left;">
        <span>Wholesaler,</span><br>
        <span>Trader,</span><br>
        <span>Retailer</span>
    </div>
    <p style="float: left;">
        Our offered range includes <br>Barcode Label, Barcode Printer and Barcode Scanner.
        <br>
        <button type="button" class="btn btn-primary btn-round">Get In Touch</button>
    </p>
    </div>
</div>

