.bg-text {
  /* background-color: rgb(0,0,0); Fallback color */
  /* background: linear-gradient(to left, black 0%, #ffffff 80%); */
  background-color: rgba(0,0,0, 0.3); 
  border-radius: 20px;
  color:white;
  font-weight: bold;
  width: 300px;
  padding: 10px;
  text-align: left;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 10px rgba(0, 0, 0, 0.19);
  /* box-shadow: inset 3em 3em 8em rgba(0, 0, 0, 0.2) ,0em 0em 8em  rgba(31, 29, 28, 0.575),0em 0em 0em  black; */
}
.my_card{
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card_row{
  background-color: #f7f7f7;
}
.bg-text1 {
  /* background-color: rgb(0,0,0); Fallback color */
  /* background: linear-gradient(to left, black 0%, #ffffff 80%); */
  /* background-color: rgba(0,0,0, 0.6);  */
  border-radius: 20px;
  color:black;
  font-weight: bold;
  /* width: 100%;
  height: 100%; */
  position: relative;
  text-align: center;
  padding: 35px 30px;
  /* box-shadow: inset 3em 3em 8em rgba(0, 0, 0, 0.2) ,0em 0em 8em  rgba(31, 29, 28, 0.575),0em 0em 0em  black; */
}

.bg-text2 {
  /* background-color: rgb(0,0,0); Fallback color */
  /* background: linear-gradient(to left, black 0%, #ffffff 80%); */
  background-color: rgba(0,0,0, 0.6); 
  border-radius: 20px;
  color:white;
  font-weight: bold;
  width: 100%;
  height: 92%;
  padding: 80px;
  text-align: center;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 10px rgba(0, 0, 0, 0.19);
  /* box-shadow: inset 3em 3em 8em rgba(0, 0, 0, 0.2) ,0em 0em 8em  rgba(31, 29, 28, 0.575),0em 0em 0em  black; */
}

#playstore:hover{
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gradientgrey{
    background: linear-gradient(to bottom, #808080 0%, #ffffff 61%);
}

.text-block {
  position: absolute;
  bottom: 20px;
  margin-top: 200px;
  right: 20px;
  color: rgb(139, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
}

.box{
  margin-top: -30px;
  background-color:rgb(252, 252, 252);
  min-height: 150px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: inset 3em 3em 8em rgba(231, 173, 139, 0.781) ,0em 0em 8em  rgba(31, 29, 28, 0.575),0em 0em 8em  black; */
  /* box-shadow: inset 3em 3em 8em rgba(238, 131, 10, 0.63); */
}
.features-icons-item:hover{  
 -webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.32);
 box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.32);
}

.features-icons-item{

 width: 75%;
 background-color:rgb(255, 255, 255);
 /* background-color: rgb(250, 184, 108); */
 border-radius: 10px;
 height: 90%;
 text-align: center;
}

.lead{
 text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 255, 254), 0 0 0.2em rgb(253, 245, 237);
 color: rgb(10, 10, 10);
 font: 1.5em Georgia, serif;
}
li{
  color: black;
  /* text-shadow: 2px 2px 5px  #5f595980; */
  /* font-family: 'Gravitas One', cursive; */
  color: #868AAA;
  text-align: left;
}
#head{
  font-weight: 500;
  line-height: 28px;
  font-size: 30px;
}
.btn-round{
  border-radius: 25px;
  height: 50px;

}


h2{margin:0}

.brandName{
  font-size: 50px;
  width: 600px;
  /* font-family: 'Pacifico', cursive; */
  text-shadow: 2px 2px 5px  #fcf8f867;
  color: darkgreen ;
}





.feature-area {
 padding: 20px;
 position: relative;
 z-index: 1;
}

.feature-area .single-feature {
 padding: 35px 30px;
 border-radius: 8px;
 background:rgb(255, 255, 255);
 position: relative;
 -webkit-transition: all 0.3s ease-out 0s;
 transition: all 0.3s ease-out 0s;
 overflow: hidden;
 text-align: center;
}

.feature-area .single-feature:hover {
 /* -webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.32); */
 /* box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.32); */
 box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.feature-area .single-feature .feature-icon i {
 font-size: 56px;
 line-height: 56px;
 color: #542DED;
}

.feature-area .single-feature .feature-content h4 {
 font-weight: 500;
 font-size: 20px;
 line-height: 28px;
}

.feature-area .single-feature .feature-content p {
 color: #868AAA;
}

.features-icons-item{
 padding: 20px;
}

.icon-style {
 width: 45px;
 height: 45px;
 border-radius: 5px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 font-size: 20px;
 -webkit-transition: all 0.3s ease-out 0s;
 transition: all 0.3s ease-out 0s;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #ffffff;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 overflow: hidden;
}

.dropdown-content a {
 color: rgb(0, 0, 0);
 padding: 12px 16px;
 display: block;
 text-align: left;
 overflow: hidden;
}

/* .dropbtn {
 display: inline-block;
 text-align: center;
 text-decoration: none;
} */

.dropdown-content a:hover {
  background-color: rgb(233, 233, 233);
  color:#4bbb5c;
  text-decoration: underline;
  overflow: hidden;
 }


.dropdown:hover .dropdown-content {
 display: block;
 width: 300px;
 border-radius: 10px;
 overflow: hidden;
}


/* Reviews */
@keyframes slidy { 
	0%  { left: 0%; }
	05% { left: 0%; }
	10% { left: -100%; }
	15% { left: -100%; }
	20% { left: -200%; }
	25% { left: -200%; } 
	30% { left: -300%; }
	35% { left: -300%; }
  40% { left: -400%; }
  45% { left: -400%; }
  50% { left: -500%; }
  55% { left: -500%; }
  60% { left: -600%; }
  65% { left: -600%; }
  70% { left: -700%; }
  75% { left: -700%; }
  80% { left: -800%; }
  85% { left: -800%; }
  90% { left: -900%; }
  100% { left: -900%; }
}
div#captioned-gallery {
	width: 80%;
  overflow: hidden;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  */
}
figure { 
  /* width: 100%;
  height: 100%; */
  margin: 0; 
}
figure.slider {
	position: relative;
	width: 1000%;
	font-size: 0;
	animation: 60s slidy infinite; 
}
figure.slider figure { 
	width: 10%;
  height: auto;
  display: inline-block;
	position: inherit;
}
@media screen and (max-width: 500px) { 
	figure.slider figure figcaption {
		font-size: 1.2rem;
	}
}

figure.slider img {
	width: 30%;
	height: auto;
  float: left;
  margin-left: 5%;
  /* margin-top: 5%; */
  margin-bottom: 5%;
}
figcaption {
	color: black;
	width: 100%;
  font-size: small;
  margin-right: 10%;
  text-align: center;
  padding-right: 5%;
}
 /* Caption review */
 blockquote {
  font-family: Georgia, serif;
  font-size: small;
  font-style: italic;
  color: #383838;
}

blockquote:before {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 4em;
  line-height: 1;
  content: "\201C";
}
blockquote:after {
  font-family: Georgia, serif;
  float:inline-end;
  font-size:4em;
  line-height: 1;
  content: "\201D";
}

blockquote cite {
  color: #999999;
  font-size: small;
  display: block;
}

blockquote cite:before {
  content: "\2014 \2009";
}

/* .my:hover {
  background-color: white;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.my2{
  border-radius: 20px;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.my_card{
  border-radius: 30px;
  height: 70px; 
  width: auto;
  
}
