
<header class="masthead img-responsive" style="height:40rem;background-size:cover; background-image:url(../../assets/images/back.jpg); margin-top:-280px; height:800px;">
	<div class="overlay" style="float: left;" ></div>
	<div class="container " style="float: left;">
		<div class="row" style="float: left;">
			<div class="col-xl-9 mx-auto" >				
				<h1 style="text-shadow: 2px 2px 5px  #fcf8f867;color: darkgreen ; margin-top: 300px;width: 350px;">Priyam IT Services Private Limited</h1>
				<div>
					<p class="mt-0" style="font-size: 1.1rem;letter-spacing:0.1rem;margin-top: 5px; width: 300px;">Our offered range includes: <br>Billing Barcode Software, Mobile App Development, Thermal Rolls, Barcode Scanner, Printers, Barcode Printers, Barcode Label.</p>
				</div>
					<br>
					<button type="button" class="btn btn-primary btn-round" style="background-color: rgba(255, 253, 251, 0.247); color: black;"><a href="https://wa.me/+91 9373344421?text=Hi" target="_blank">Get In Touch</a></button><a href="https://play.google.com/store/apps/details?id=com.easyshope.android"><img id="playstore" src="../../assets/images/google.png" width="120" height="60"></a>
					<br>
			</div>
		</div>
	</div>
</header>

<div class="box">
	<div class="row">
	  <div class="col-sm">
			<div class="mx-auto features-icons-item ">
				<img src="../../assets/images/icons/active cust.svg" height=60;>
				<h6> Happy customers</h6>
				<p class="lead mb-0"><b><h4>{{initial_cust}}+</h4></b></p>
			</div>
	  </div>
	  <div class="col-sm">
		<div class="mx-auto features-icons-item ">
			<img src="../../assets/images/icons/tax.svg" height=60;>
			<h6>Invoices Created</h6>
			<p class="lead mb-0"><b><h4>{{initial_invoice}}+</h4></b></p>
		</div>
	  </div>
	  <div class="col-sm">
		<div class="mx-auto features-icons-item">
			<img src="../../assets/images/icons/buildings.svg" height=60;>
			<h6>Cities and Towns in India</h6>
			<p class="lead mb-0"><b><h4>{{initial_cities}}+</h4></b></p>
		</div>
	  </div>
	  <div class="col-sm">
		<div class="mx-auto features-icons-item">
			<img src="../../assets/images/icons/products-icon.png" height=60;>
			<h6>Products</h6>
			<p class="lead mb-0"><b><h4>{{initial_products}}+</h4></b></p>
		</div>
	  </div>
	</div>
  </div>
<hr>
<!-- GRADIENT LAPTOP IMAGE START -->
<section id="feature" class="feature-area pt-100 pb-90">
	<div class="container" >
		<div class="row" style="width: 100%; height: 600px;" id="gradientgrey">
			<div class="col-md-12 text-center" style="text-align: center;">
				<br><br>
				<h1>GST Billing software with Inventory</h1>
            	<h2>India's easiest billing solution. Used by over 2,000 clients. </h2>
			</div>
			<div class="col-md-12" style="text-align: center;">
				<img src="../../assets/images/laptop.png" class="img-fluid"><img src="../../assets/images/bill.png" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<!-- GRADIENT LAPTOP IMAGE START -->

 
    <!--====== FEATURE PART START ======-->
	<section id="feature" class="feature-area pt-100 pb-90">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-10 mx-auto">
					<div class="section-title text-center mb-50">
						<h2 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Key Features</h2>
						<p class="wow fadeInUp" data-wow-delay=".4s">Comes with all essential features and everything you need.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-feature wow fadeInUp" data-wow-delay=".2s">
						<div class="feature-icon">
                            <img src="../../assets/images/icons/manage-inventory.svg" height=60;>
						</div>
						<div class="feature-content">
							<h4>Manage Your Inventory</h4>
							<p>Track Inventory with features such as low stock reminders, item categories & stock adjustment</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-feature wow fadeInUp" data-wow-delay=".4s">
						<div class="feature-icon">
                            <img src="../../assets/images/icons/easy-accounting.svg" height=60;>
						</div>
						<div class="feature-content">
							<h4>Accounting Made Easy</h4>
							<p>Record all business transactions such as Sales, Purchases, Quotations and Returns</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-feature wow fadeInUp" data-wow-delay=".6s">
						<div class="feature-icon">
                            <img src="../../assets/images/icons/collect-payment.svg" height=60;>
						</div>
						<div class="feature-content">
							<h4>Collect Payments Faster</h4>
							<p>Send payment reminders to your parties and collect digitally via UPI</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-feature wow fadeInUp" data-wow-delay=".2s">
						<div class="feature-icon">
                            <img src="../../assets/images/icons/order-online.svg" height=60;>
						</div>
						<div class="feature-content">
							<h4>Get Orders Online</h4>
							<p>Create custom mobile app and website for your business and increase sales</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-feature wow fadeInUp" data-wow-delay=".4s">
						<div class="feature-icon">
                            <img src="../../assets/images/icons/business-reports.svg" height=60;>
						</div>
						<div class="feature-content">
							<h4>Analyze Business Reports</h4>
							<p>Manage your business with 10+ reports like GST reports, P&L, Stock & Party Ledger reports</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-feature wow fadeInUp" data-wow-delay=".4s">
						<div class="feature-icon">
                            <img src="../../assets/images/icons/messages.jpeg" height=60;>
						</div>
						<div class="feature-content">
							<h4>Send Messages & Greetings</h4>
							<p>Expand  your Business by sharing business cards and greetings from the software</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>	
	</section>
	<!-- FEATURES PART END -->
	<hr>
		
		<!-- VIDEO ARJUN START-->
	
		
    	<section class="feature-area pt-100 pb-90" style="background-color: #f3f4f6;">
			<br><br>	
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div  style="text-align: center;">
							<h2 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Having Trouble in GST Billing?</h2>
							<br>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xl-6 col-lg-6 my">
							<br>
							<div class="d-flex justify-content-center">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9dvBZayRmyg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
								</div>
							</div>
							<br>
					</div>
					<div class="col-xl-6 col-lg-6 my2">
						<br>
					<div class="bg-text1 text-center align-self-center mx-auto">
						<h2><span style="font-weight: bolder;">Easily</span> do :</h2>
						<br>
						<ul>
							<li>Analyze your Sales</li>
							<li>Manage Inventory & Stock Alerts</li>
							<li>Faster Billing</li>
							<li>And Much More......</li>
						</ul>
					</div>	
					<br>
						
				</div>
				</div>	
			</div>
			<br><br><br>
		</section>
		
		<!-- VIDEO ARJUN END-->
		
	<hr>

	<!-- OUR PRODUCTS START -->
	<section id="products" class="feature-area pt-100 pb-90">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-10 mx-auto">
					<div class="section-title text-center mb-50">
						<h2 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Our Products</h2>
					</div>
				</div>
			</div>
			<br>
			<div class="row"> 
				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/storefront.svg" height=60;>
                        <h6>Retail Management Software</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Retail Management Software','Easy Shop')">Online Shopping System</a>
							<a (click)="navigate('Retail Management Software','Priyam')">Retail ERP Software For Mall</a>
						</div>
                    </div>
				</div>

				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/software.jpg" height=60;>
                        <h6>Software Products</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Software Products','Easy Shop')">Inward Outward Management Software</a>
							<a (click)="navigate('Software Products','Shree')">Shree Lipi Software</a>
							<a (click)="navigate('Software Products','Self')">SMS Sending Software</a>
						</div>
                    </div>
				</div>

				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/3d-modeling.svg" height=60;>
                        <h6>Software Services</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Software Services','Easy Shop')">Easy Shop Software Services</a>
							<a (click)="navigate('Software Services','Priyam')">Priyam Software Services</a>
						</div>
                    </div>
				</div>

				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/Drives-iPhone-Metro-icon.png" height=60;>
                        <h6>Mobile App Development</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Mobile App Development','Easy Shop')">Mobile App Development</a>
							<a (click)="navigate('Mobile App Development','Easy Shop')">E-Commerce Application Development</a>
							<a (click)="navigate('Mobile App Development','Easy Shop')">E-Commerce Application Development</a>
						</div>
                    </div>
				</div>

				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/thermalroll.jpg" height=60;>
                        <h6>Thermal Rolls</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Thermal Roll','Balaji')">Balaji Machine Roll</a>
							<a (click)="navigate('Thermal Roll','SG Technologies')">Printed Thermal Receipt Billing Rolls</a>
						</div>
                    </div>
				</div>

				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/Barcode lable-icon (1).png" height=60;>
                        <h6>Barcode Labels</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Barcode Label','SG Technologies')">Barcode Labels</a>
							<a (click)="navigate('Barcode Label','SG Technologies')">Barcode Stickers</a>
							<a (click)="navigate('Barcode Label','SG Technologies')">Pre-printed Barcode Labels</a>
							<a (click)="navigate('Barcode Label','SG Technologies')">Plain Barcode Labels</a>
							<a (click)="navigate('Barcode Label','SG Technologies')">Thermal Labels</a>
						</div>
                    </div>
				</div>

				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/barcode ribbonicon.png" height=60;>
                        <h6>Barcode Ribbons</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Barcode Ribbons','SG Technologies')">Barcode Ribbons</a>
							<a (click)="navigate('Barcode Ribbons','SG Technologies')">Barcode Ribbons Wax</a>
							<a (click)="navigate('Barcode Ribbons','SG Technologies')">Barcode Ribbons Wax Resins</a>
							<a (click)="navigate('Barcode Ribbons','SG Technologies')">Barcode Ribbons Resin</a>
						</div>
                    </div>
				</div>

				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/printer-icon.png" height=60;>
                        <h6>Barcode Printers</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Barcode Printer','TSC')">TSC Barcode Printers</a>
							<a (click)="navigate('Barcode Printer','Citizen')">Citizen Barcode Printers</a>
							<a (click)="navigate('Barcode Printer','Zebra')">Zebra Barcode Printers</a>
							<a (click)="navigate('Barcode Printer','Argox')">Argox Barcode Printers</a>
							<a (click)="navigate('Barcode Printer','SATO')">SATO Barcode Printers</a>
							<a (click)="navigate('Barcode Printer','Honeywell')">Honeywell Barcode Printers</a>
						</div>
                    </div>
				</div>

				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/Printing-Printer-icon.png" height=60;>
                        <h6>Thermal Printers</h6>
						<div class="dropdown-content">
							<a (click)="navigate('Thermal Printer','Epson')">Epson Thermal Printers</a>
							<a (click)="navigate('Thermal Printer','TVS')">TVS Thermal Printers</a>
							<a (click)="navigate('Thermal Printer','Local Brand')">Local Brand Thermal Printers</a>
							<a (click)="navigate('Thermal Printer','Posiflex')">Posiflex Thermal Printers</a>
							<a (click)="navigate('Thermal Printer','Citizen')">Citizen Thermal Printers</a>
							<a (click)="navigate('Thermal Printer','TCS')">TCS Thermal Printers</a>
						</div>
                    </div>
				</div>

				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/Ecommerce-Barcode-Scanner-icon.png" height=60;>
                        <h6>Barcode Scanners</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Barcode Scanner','Honeywell')">Honeywell Barcode Scanners</a>
							<a (click)="navigate('Barcode Scanner','Motorola')">Motorola Barcode Scanners</a>
							<a (click)="navigate('Barcode Scanner','Zebra')">Zebra Barcode Scanners</a>
							<a (click)="navigate('Barcode Scanner','Datalogic')">Datalogic Barcode Scanners</a>
							<a (click)="navigate('Barcode Scanner','TVS')">TVS Barcode Scanners</a>
							<a (click)="navigate('Barcode Scanner','Argox')">Argox Barcode Scanners</a>
						</div>
                    </div>
				</div>
				
				
				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/cash drawer.png" height=60;>
                        <h6>Cash Drawer</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Cash Drawer','TVS')">Cash Drawer</a>
							<a (click)="navigate('Cash Drawer','Posiflex')">Posiflex Cash Drawer</a>
							<a (click)="navigate('Cash Drawer','TVS')">TVS Cash Drawer</a>							
						</div>
                    </div>
				</div>

				<div class="col-lg-2 dropdown">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-2">
                        <img src="../../assets/images/icons/pole display2-icon.png" height=60;>
                        <h6>Pole Display</h6>
                        <div class="dropdown-content">
							<a (click)="navigate('Pole Display','Local Brand')">Pole Display</a>
							<a (click)="navigate('Pole Display','Posiflex')">Posiflex Pole Display</a>
							<a (click)="navigate('Pole Display','TVS')">TVS Pole Display</a>
						</div>
                    </div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- OUR PRODUCTS END -->
<hr>
<!-- Firgure 1 -->

	<section class="feature-area pt-100 pb-90" style="background-color: #f3f4f6;">
		<br><br>	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div  style="text-align: center;">
						<h2 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Get Your App Today!!</h2>
						<br>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xl-6 col-lg-6 my2">
					<br>
					<br>
					<div class="bg-text1 text-center align-self-center mx-auto">
						<h2> This App <span style="font-weight: bolder;"> Changes Everything </span> </h2>
						<br>	
						<ul>
							<li>The way you do business!</li>
							<li>The way you shop!</li>
							<li>The way you sell products!</li>
						</ul>
						<br>
						<h4>To Sell your products <b>Online</b> Download Our App Now!!!</h4>
					</div>	
					<br>
				</div>
				<div class="col-xl-6 col-lg-6 my">
						<br>
						<div class="d-flex justify-content-center">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/OBZxx7SLvL0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<br>
				</div>
				
			</div>	
		</div>
		<br><br><br>
	</section>


<!-- Figure 1 ends -->
<hr>
<br><br><br><br>
<!-- BENEFITS OF EASYSHOP START -->
<section id="feature" class="feature-area pt-100 pb-90">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-10 mx-auto">
				<div class="section-title text-center mb-50">
					<h2 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Benefits of using Easyshop</h2>
					<!-- <p class="wow fadeInUp" data-wow-delay=".4s">.</p> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="single-feature wow fadeInUp" data-wow-delay=".2s">
					<div class="feature-icon">
						<img src="../../assets/images/icons/shield.svg" height=60;>
					</div>
					<div class="feature-content">
						<h4>Safe and Secure</h4>
						<p>Your data is 100% secure with us, always stored in an encrypted and anonymised format</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="single-feature wow fadeInUp" data-wow-delay=".4s">
					<div class="feature-icon">
						<img src="../../assets/images/icons/automatic-backup.svg" height=60;>
					</div>
					<div class="feature-content">
						<h4>Automatic Backup</h4>
						<p>Now no need to worry about ever your data. Your data is automatically backed up just like WhatsApp</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="single-feature wow fadeInUp" data-wow-delay=".6s">
					<div class="feature-icon">
						<img src="../../assets/images/icons/Marathi-support.svg" height=60;>
					</div>
					<div class="feature-content">
						<h4>Marathi Support</h4>
						<p>Easy Shop  can be fully used in English and Marathi  with more to come soon</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="single-feature wow fadeInUp" data-wow-delay=".2s">
					<div class="feature-icon">
						<img src="../../assets/images/icons/whatsapp-support.svg" height=60;>
					</div>
					<div class="feature-content">
						<h4>Whatsapp Support</h4>
						<p>Get answers to your issues from our superfast support team on WhatsApp</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="single-feature wow fadeInUp" data-wow-delay=".4s">
					<div class="feature-icon">
						<img src="../../assets/images/icons/product-library.svg" height=60;>
					</div>
					<div class="feature-content">
						<h4>Item Library</h4>
						<p>Quickly add items from our standard library of 1 Lakh FMCG</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="single-feature wow fadeInUp" data-wow-delay=".4s">
					<div class="feature-icon">
						<img src="../../assets/images/icons/th.jpg" height=60;>
					</div>
					<div class="feature-content">
						<h4>Better Customer Service</h4>
						<p>The ability to access customer information quickly and easily.</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
<!-- BENEFITS OF EASYSHOP END-->

<hr>
<!-- Firgure 2 -->

	<section class="feature-area pt-100 pb-90" style="background-color: #f3f4f6;">
		<br><br>	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div  style="text-align: center;">
						<h2 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Our GST Software</h2>
						<br>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xl-6 col-lg-6 my">
						<br>
						<div class="d-flex justify-content-center">
							<img src="../../assets/images/dashboard.png" style="max-width: 720px; height: auto;" alt="" srcset="">
						</div>
						<br>
				</div>
				<div class="col-xl-6 col-lg-6 my2">
					<br>
					<div class="bg-text1 text-center align-self-center mx-auto">
						<h2>Manage GST <span style="font-weight: bolder;"> Anytime </span></h2>
						<br>
						<ul>
							<li>Access and manage your GST from your laptop, computer or tablet anytime you choose</li>
							<li>Create Access Privileges so that your colleague or accountant can login and work with your data online</li>
						</ul>
					</div>	
					<br>
			</div>
			</div>	
		</div>
		<br><br><br>
	</section>

	<!-- Figure 2 ends -->
	<hr>
<!-- WHAT CLIENTS HAVE TO SAY START-->
<section id="feature" class="feature-area pt-100 pb-90">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-10 mx-auto">
				<div class="section-title text-center mb-50">
					<h2 class="mb-15 wow fadeInUp" data-wow-delay=".2s">What Our Clients Say!</h2>
					<!-- <p class="wow fadeInUp" data-wow-delay=".4s">.</p> -->
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6">
				<div class="section-title text-center mb-50">
					<h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s"><u>Customer Feedbacks</u></h3>
					<!-- <p class="wow fadeInUp" data-wow-delay=".4s">.</p> -->
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6">
				<div class="section-title text-center mb-50">
					<h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s"><u>Reviews</u></h3>
					<!-- <p class="wow fadeInUp" data-wow-delay=".4s">.</p> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6" style="overflow: hidden;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
			<div class="captioned-gallery">
				<figure class="slider">
						<figure>
							<div class="row">
							<img src="../../assets/reviewsimgs/Reviews/161-1610283_colm-for-cover-man-red-shirt-clipart.png" alt>
								<div class="col" style="width: 100%;">
									<figcaption>
										<blockquote>
											Using the software is smooth and easy, especially when compared to other accounting software solutions. With minimum data usage and multi functional features, you get maximum benefits. Some of the important features offered by the software include auto calculation of bills, data report facilities, server-client options, VAT form plugins import and state wise calculations.
											<footer>
												<cite>
													Sanjay Gupta 
												</cite>
											</footer>
										</blockquote>
									</figcaption>
								</div>
							</div>
						</figure>
						<figure>
							<div class="row">
							<img src="../../assets/reviewsimgs/Reviews/cartoon-man-transparent-16.png" alt>
								<div class="col" style="width: 100%;">
									<figcaption>
										<blockquote>
											The software works fine and is quite easy to use. <br>PROS : Aside from being easy to use, there aren’t any hanging issues even if the software is deployed for heavy usage. You can create account for multiple companies and use the same on multiple windows. Every percentage and calculation is done by Easy Shop software so need of doing any manual calculations.
											<footer>
												<cite>
													Akhil Mahajan 
												</cite>
											</footer>
										</blockquote>
									</figcaption>
								</div>
							</div>
						</figure>
						<figure>
							<div class="row">
							<img src="../../assets/reviewsimgs/Reviews/280219.jpg" alt>
								<div class="col" style="width: 100%;">
									<figcaption>
										<blockquote>
											Easy  SMS integration.<br>PROS : The easy integration feature of Easy Shop software has helped me in scaling my business. It is specially designed for managing all sections of accounting and inventory, and it helps cover all the major operations of my business, ranging from Sales, Purchase, Inventory and Financial Accounting to Claims and Returns.
											<footer>
												<cite>
													Vivek Naidu
												</cite>
											</footer>
										</blockquote>
									</figcaption>
								</div>
							</div>
						</figure>
						<figure>
							<div class="row">
							<img src="../../assets/reviewsimgs/Reviews/79-790094_cute-cartoon-fat-man-free-transparent-image-hq.png" alt>
								<div class="col" style="width: 100%;">
									<figcaption>
										<blockquote>
											They are really doing great making accounting easy for everyone. If you are not from commerce field than also you can manage it easily. I found the development very positive when government declared GST compulsory for every business. My friend suggested Easy Shop  to me as I was finding the GST calculation process a bit difficult. I tried the demo version and it did solve my problem to a great extent.
											<footer>
												<cite>
													Mayuresh Jadhav
												</cite>
											</footer>
										</blockquote>
									</figcaption>
								</div>
							</div>
						</figure>
						<figure>
							<div class="row">
							<img src="../../assets/reviewsimgs/Reviews/avatar-2027365_640.png" alt>
								<div class="col" style="width: 100%;">
									<figcaption>
										<blockquote>
											The software is easy to use and operate. One can add entries at any time of the day without much hassle.<br>PROS : You can do all your business transactions through Easy shop software. There is no need to carry account books everywhere or maintain ledgers manually. I have been using this application for the past two years and the experience so far has been good and satisfactory. Priyam IT  has done its job well in updating me regularly on a daily basis about all business activities and transactions.
											<footer>
												<cite>
													Satish Chandak 
												</cite>
											</footer>
										</blockquote>
									</figcaption>
								</div>
							</div>
						</figure>
						<figure>
							<div class="row">
							<img src="../../assets/reviewsimgs/Reviews/1859015.png" alt>
								<div class="col" style="width: 100%;">
									<figcaption>
										<blockquote>
											I am using Easy Shop  for almost three years now and totally satisfied with the features, there is frequent updating in the features according to the change in trend. Following are the Pros:<br> 1) Very efficient Sales Reporting. <br>2) Easy to Use.<br> 3) Solid Tally Integration
											<footer>
												<cite>
													Sakshi Sharma 
												</cite>
											</footer>
										</blockquote>
									</figcaption>
								</div>
							</div>
						</figure>
						<figure>
							<div class="row">
							<img src="../../assets/reviewsimgs/Reviews/kissclipart-shutterstock-cartoon-women-with-brown-hair-clipart-a0eafe5af72dad3a.png" alt>
								<div class="col" style="width: 100%;">
									<figcaption>
										<blockquote>
											The team delivered a strong, functional product that allows users to order products directly from supermarkets. Their careful project planning and thorough development and testing workflows helped them meet all expectations. Devoted to the work, they completed the project before the deadline.
											<footer>
												<cite>
													Shreya Sonavane
												</cite>
											</footer>
										</blockquote>
									</figcaption>
								</div>
							</div>
						</figure>
						<figure>
							<div class="row">
							<img src="../../assets/reviewsimgs/Reviews/Woman-women-clip-art-free-free-clipart-images.jpg" alt>
								<div class="col" style="width: 100%;">
									<figcaption>
										<blockquote>
											Their dedication and professionalism were apparent at all stages of the project.
											<footer>
												<cite>
													Shivani Adhav 
												</cite>
											</footer>
										</blockquote>
									</figcaption>
								</div>
							</div>
						</figure>
						<figure>
							<div class="row">
							<img src="../../assets/reviewsimgs/Reviews/corona-4960366_640.jpg" alt>
								<div class="col" style="width: 100%;">
									<figcaption>
										<blockquote>
											They always followed up with me and had my back.
											<footer>
												<cite>
													Ameya Pathak
												</cite>
											</footer>
										</blockquote>
									</figcaption>
								</div>
							</div>
						</figure>
						<figure>
							<div class="row">
							<img src="../../assets/reviewsimgs/Reviews/cartoon-man-transparent-6.png" alt>
								<div class="col" style="width: 100%;">
									<figcaption>
										<blockquote>
											Simple UI and easy to use app One must have this app, No bugs ,no glitches Simple and useful app.
											<footer>
												<cite>
													Onkar Poman 
												</cite>
											</footer>
										</blockquote>
									</figcaption>
								</div>
							</div>
						</figure>						
				</figure>
			</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 text-center">
				<div class="d-flex justify-content-center">
					<!-- <video src="../../assets/video/reviewsvdo.mp4" loop controls style="width: 100%;height: 100%;margin-top:3%;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);"></video>  -->
					<iframe width="560" height="315" src="https://www.youtube.com/embed/2leylUJpeZU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			</div>
		</div>
</section>
<!-- Our CLIENTS-->
<hr>
<section id="feature" class="feature-area pt-100 pb-90">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-10 mx-auto">
				<div class="section-title text-center mb-50">
					<h2 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Our Clients</h2>
					<p class="wow fadeInUp" data-wow-delay=".4s">Our Satisfied Wide Range of Clients</p>
				</div>
			</div>
		</div>
		<div class="container card_row">
			<br>
			<div class="row card_row">
				<div class="col-sm" >
					<br>
					<div class="card my_card">
						<br>
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/clients/chitale.svg" alt="" srcset="">
						</div>
							<br>
						<!-- <div class="d-flex justify-content-center">
							<h4>Mail</h4>
						</div>
						<div class="d-flex justify-content-center">
							<a href="mailto:info@priyamit.co.in" target="_blank">info@sgtechnologies.net</a>
						</div> -->
						<br>
					</div>
				</div>
	
				<div class="col-sm" >
					<br>
					<div class="card my_card" style="height: 140px; width: auto;">
						<br>
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/clients/cottonking.jpg"  alt="" srcset="">
						</div>
							<br>
						<!-- <div class="d-flex justify-content-center">
							<h4>Mail</h4>
						</div>
						<div class="d-flex justify-content-center">
							<a href="mailto:info@priyamit.co.in" target="_blank">info@sgtechnologies.net</a>
						</div> -->
						<br>
					</div>
				</div>
				<div class="col-sm" >
					<br>
					<div class="card my_card">
						<br>
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/clients/patanjali.png" style="max-height: 66px; width: auto;" alt="" srcset="">
						</div>
							<br>
						<!-- <div class="d-flex justify-content-center">
							<h4>Mail</h4>
						</div>
						<div class="d-flex justify-content-center">
							<a href="mailto:info@priyamit.co.in" target="_blank">info@sgtechnologies.net</a>
						</div> -->
						<br>
					</div>
				</div>
				<div class="col-sm" >
					<br>
					<div class="card my_card">
						<br>
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/clients/police.jpg" style="max-height: 66px; width: auto;" alt="" srcset="">
						</div>
							<br>
						<!-- <div class="d-flex justify-content-center">
							<h4>Mail</h4>
						</div>
						<div class="d-flex justify-content-center">
							<a href="mailto:info@priyamit.co.in" target="_blank">info@sgtechnologies.net</a>
						</div> -->
						<br>
					</div>
				</div>
				<div class="col-sm" >
					<br>
					<div class="card my_card">
						<br>
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/clients/Reliance.jpg" style="max-height: 66px; width: auto;" alt="" srcset="">
						</div>
							<br>
						<!-- <div class="d-flex justify-content-center">
							<h4>Mail</h4>
						</div>
						<div class="d-flex justify-content-center">
							<a href="mailto:info@priyamit.co.in" target="_blank">info@sgtechnologies.net</a>
						</div> -->
						<br>
					</div>
				</div>
	
			</div>
			<br>
		</div>
		<br><br><br> <br>
	</div>	
</section>
<!--Our CLIENTS end -->
<hr>

