<div class="container" id="with_canvas">
  <canvas #mycanvas 
  width="1500px"     
  height="500px" >
  </canvas>
</div>       
       
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <a href="https://play.google.com/store/apps/details?id=com.easyshope.android"><img src="../../assets/images/gp.png" alt="" srcset="" style="max-width: 110px; height: auto;"></a>
            </div>
            <div class="col-sm text-center">
              <a href="https://play.google.com/store/apps/details?id=com.easyshope.android"><img src="../../assets/images/easyshop.png" alt="" srcset=""></a>
            </div>
        </div>
    </div>
   

  
    
    
    
      