<canvas #mycanvas 
width="1500px"     
height="500px" ></canvas>
       
       
       <div class="container">
        <br>
        <h1 style="color: black; text-align: center;">EASY<span style="color: green">SHOP</span></h1><br><br><br>
        <div class="container text-center">
          <h2 style="font-weight: 700;">Are you excited to take your business online</h2>
          <br>
          <h3>It’s worth it</h3><br><br><br>
          <h5>Download our demo app now!!</h5><br><br>
          <div class="row">
            <div class="col-sm">
                <a href="https://play.google.com/store/apps/details?id=com.easyshope.android"><img src="../../assets/images/gp.png" alt="" srcset=""></a>
            </div>
            <div class="col-sm">
              <a href="https://play.google.com/store/apps/details?id=com.easyshope.android"><img src="../../assets/images/easyshop.png" alt="" srcset=""></a>
            </div>
        </div>
          
    </div>
    </div>
   

  
    
    
    
      