<div id="login-box">
    <form #userForm ="ngForm">
        <div class="left">
        <h1>Sign In using Mobile</h1>
        
        <input type="text" name="username" placeholder="Phone Number" />
        <input type="text" name="email" placeholder="E-mail" />
        <input type="password" name="password" placeholder="Password" />
        
        <input type="submit" name="signIn_submit" value="Sign me In" />
        <br><button  style="width: 300px; background-color: white;border:white" (click)="openRegister()">Don't have an account?SignUp</button>
        </div>
    </form>
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
    
  </div>