<div class="card mb-3 shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/img/barcodescanner.jpg">
    <div class="card-body">
        <p class="card-text">  
            {{ productItem.price | currency:'INR' }}
        </p>
        <p class="card-text">"{{ productItem.description }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-light" style="font-size: smaller;" [routerLink]="['/details', productItem.id]">View Details</button>
            </div>
        </div>
    </div>
</div>